.env
env
client/node_modules
# server/db.sqlite3
test.rest
server-dotnet/.env
server-dotnet/obj/
server/api/__pycache__/
server/server/__pycache__/
/client/assets/files/page 1.png
/client/assets/files/page 1.svg
/client/assets/files/page 2.png
/client/assets/files/page 2.svg
